body{
    background-color: #333 !important;
}
h2 {
    position: relative;
    margin-top: -71% !important;
    font-size: 19px !important;
    font-weight: 600 !important;
    margin-right: 35.5%;
    letter-spacing: -1px;
    color: #000 !important;
}

p {
    width: 250px !important;
    text-align: justify;
    margin: 0 !important;
    margin-right: 22% !important;
    font-weight: bold;
    line-height: normal;
}

.icon>img {
    margin-top: 59% !important;
    width: 38px;
    margin: 14px;
}